@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('../fonts/bebasneueregular.woff2') format('woff2'), url('../fonts/bebasneueregular.woff') format('woff'), url('../fonts/bebasneueregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    height: 100%;
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    /*-webkit-text-size-adjust: 100%; /* 2 */
}

body {
    font-family: 'Noto Sans', sans-serif;
    min-height: 100%;
    overflow-anchor: none;
    max-width: 120rem;
    margin: auto;
    background-color: #FAFBFC;
    color: #828A99;
}

body.lock {
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

a {
    outline: 0;
}

.container {
    max-width: 90rem;
    margin: auto;
}

.responsive {
    overflow-x: auto;
    scrollbar-width: thin;
}

.primary-buttons-wrapper {
    display: flex;
    height: 60px;
    justify-content: flex-end;
}

.primary-button-prev,
.primary-button-next {
    background-color: #5c8ee6;
    height: 100%;
    border: 1px solid rgba(235, 235, 240, 0.20);
    width: 80px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    font-size: 1rem;
    line-height: 160%;
    background: #5C8EE5;
    color: #fff;
    padding: 1.5625rem 3.125rem;
    border: 0;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}

.mobile-menu {
    display: none;
}

.navbar {
    display: flex;
    flex-basis: 100%;
    color: #fff;
    height: 5.875rem;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgba(235, 235, 240, 0.20);
    transition: background-color 0.2s, height 0.2s;
}

.navbar-light {
    background: #fff;
    color: #292D33;
}

.navbar-scroll {
    height: 4.625rem;
}

.navbar a {
    color: inherit;
    text-decoration: none;
}

.navbar-logo {
    padding: 0 3.125rem;
    border-right: 1px solid rgba(235, 235, 240, 0.20);
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.logo-svg {
    height: 2.75rem;
    width: 8.75rem;

}

.logo-dark {
    display: none;
}

.navbar-light .logo-light {
    display: none;
}

.navbar-light .logo-dark {
    display: initial;
}

.navbar-light .header-logo-path {
    fill: #292D33;
}

.navbar-nav {
    display: flex;
    flex-basis: 100%;
    list-style: none;
    margin: 0;
    padding: 0 3.125rem;
    align-items: center;
    gap: 3.125rem;
}

.navbar-nav li,
.navbar-nav li a {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
}

.navbar-nav li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #5c8ee6;
    transition: width 0.2s;
    bottom: -1px;
}

.navbar-nav li a:hover::after {
    width: 100%;
}

.navbar-phone {
    margin-right: 3.125rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-phone .icon {
    fill: #5C8EE6;
}

.navbar-button {
    height: 100%;
    flex-shrink: 0;
}

.navbar-button .icon {
    display: none;
    fill: #fff;
}


.page-header {
    padding-top: 9.375rem;
    padding-bottom: 3.125rem;
    color: #292d33;
    position: relative;
}

.page-header-thumb {
    position: absolute;
    bottom: 0;
    right: 10%;
    max-width: 30rem;
}

.page-header-bg-image {
    background-image: url("../img/blog/blog-photo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.post-header-bg-image {
    background-image: url("../img/blog/post-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.page-header-bg-image:before,
.post-header-bg-image:before {
    content: "";
    left: 0;
    top: 0;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 45, 51, 0.6);
}

.page-header-bg-image .container,
.post-header-bg-image .container {
    position: relative;
}

.page-header-bg-grey {
    background: #f0f2f5;
}

.page-header-title {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 5rem;
    line-height: 120%;
    color: inherit;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 10px;
}

.breadcrumbs-link {
    text-decoration: none;
    color: inherit;
}

.breadcrumbs-link {
    color: #828a99;
}

.breadcrumbs-item.active .breadcrumbs-link {
    color: #292d33;
}

.breadcrumbs-item:not(:last-child)::after {
    content: "—";
    margin-left: 10px;
}

.page-header-bg-image .breadcrumbs-link,
.post-header-bg-image .breadcrumbs-link,
.page-header-bg-image .breadcrumbs-item.active .breadcrumbs-link,
.post-header-bg-image .breadcrumbs-item.active .breadcrumbs-link {
    color: #fff;
}




.header {
    color: #fff;
    padding-top: 5.875rem;
}

.header-image {
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -55px;
    position: relative;
}

.header-image::before {
    background: rgba(41, 45, 51, 0.60);
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.header a {
    color: inherit;
    text-decoration: none;
}

.header-content {
    position: relative;
    padding-top: 150px;
}

.separator {
    height: 2px;
    width: 9.375rem;
    background: #5C8EE5;
    margin: 0;
}

.header-title {
    color: #fff;
    font-size: 5rem;
    line-height: 120%;
    font-weight: 400;
    font-family: "Bebas Neue";
    margin: 1.375rem 0 2.375rem;
    max-width: 67.5rem;
}

.header-text {
    max-width: 45rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    color: #fff;
    margin-bottom: 3.125rem;
}

.header-features {
    list-style: none;
    padding: 0;
    margin-top: 100px;
    position: relative;
    display: flex;
    min-height: 168px;
}

.header-features-item {
    padding: 1.875rem 3.125rem;
    border: 1px solid rgba(235, 235, 240);
    width: 18rem;
    height: auto;
}

.header .header-features-item {
    border-color: rgba(235, 235, 240, 0.20);
}


.slider-buttons {
    height: 44px;
    display: none;
}

.slider-button-prev,
.slider-button-next {
    height: 100%;
    flex-basis: 50%;
    border: 1px solid rgba(235, 235, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header .slider-button-prev,
.header .slider-button-next {
    border-color: rgba(235, 235, 240, 0.20);
}

.slider-button-prev .icon,
.slider-button-next .icon {
    fill: #292D33;
}

.header .slider-button-prev .icon,
.header .slider-button-next .icon {
    fill: #fff;

}

.header-features-text {
    font-size: 1rem;
    line-height: 160%;
    margin: 1.25rem 0 0;
}

.header-buttom {
    padding: 25px 60px;
}

.section {
    margin: 150px auto;
}

.section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-content {
    flex-basis: 50%;
}

.we-experts {
    flex-direction: row-reverse;
}

.we-experts .section-title {
    max-width: 37.5rem;
}

.we-experts-content {
    flex-basis: 52.5rem;
}

.we-experts-image {
    width: 30rem;
}

.section-text {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #828A99;
    font-weight: 400;
    line-height: 160%;
}

.section-image {
    margin-left: 7.5rem;
    min-width: calc(50% - 7.5rem);
}

.section-title {
    font-size: 3.75rem;
    line-height: 120%;
    font-weight: 400;
    font-family: "Bebas Neue";
    margin: 0 0 3.125rem;
    color: #292D33;
    position: relative;
    padding-top: 1.875rem;
}

.section-title::before {
    height: 2px;
    width: 9.375rem;
    background: #5C8EE5;
    top: 0;
    left: 0;
    position: absolute;
    content: '';

}

.steps {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.steps-item {
    padding-right: 1.875rem;
}

.steps-num {
    font-family: "Bebas Neue";
    font-size: 3rem;
    line-height: 120%;
    color: #5c8ee5;
    display: flex;
    align-items: center;
    gap: 1.875rem;
}

.steps-num::after {
    content: '';
    height: 1px;
    background: #EBEBF0;
    width: 100%;
}

.steps-title {
    color: #292D33;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin: 2.1875rem 0 .625rem;
    max-width: 18.75rem;
}

.steps-text {
    color: #828A99;
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    margin: .625rem 0 1.25rem;
    max-width: 18.75rem;
}

.button-link {
    color: #5C8EE5;
    font-size: 1rem;
    font-weight: 600;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1.25rem;
}

.button-link::before {
    content: '';
    height: 1px;
    width: 40px;
    background: #5C8EE5;
    transition: width 0.2s;
}

.button-link:hover::before {
    width: 60px;
}

.steps-buttons {
    display: none;
}






.cards {
    display: flex;
    flex-wrap: wrap;
}

.production-cards {
    margin-top: 3rem;
}

.card {
    text-decoration: none;
    flex-basis: 33.33%;
    border: 1px solid #ebebf0;
    transition: border 0.2s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    border-color: #5C8EE5;
}

.card-content {
    padding: 2.5rem 3.125rem;
}

.card-title {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 140%;
    color: #292d33;
    margin-top: 0;
    margin-bottom: 0.715rem;
    transition: color 0.2s;
}

.card:hover .card-title {
    color: #5C8EE5;
}

.card-text {
    font-size: 1rem;
    line-height: 160%;
    color: #828a99;
    margin: 0.715rem 0;
}

.card-image {
    width: 100%;
}


.trademark-cards {
    display: flex;
}

.trademark-card {
    flex-basis: 50%;
    text-decoration: none;
    border: 1px solid #ebebf0;
    transition: border 0.2s;
    padding: 3.125rem;

    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 180px 1fr;
    grid-template-rows: auto 2fr;
    grid-template-areas:
        'logo title title'
        'logo text text';
}

.trademark-card-logo {
    grid-area: logo;
    fill: #828a99;
    width: 100%;
}

.trademark-card:hover .trademark-card-logo {
    fill: #5c8ee6;
}

.trademark-card-title {
    grid-area: title;
    color: #292D33;
    font-size: 28px;
    font-weight: 400;
    line-height: 160%;
    margin: 0 0 .715rem;
}

.trademark-card:hover .trademark-card-title {
    color: #5c8ee6;
}

.trademark-card-text {
    grid-area: text;
    margin: 0;
    color: #828A99;
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%
}

.trademark-card:hover {
    border-color: #5c8ee6;
}


.founder {
    min-height: 41.25rem;
    position: relative;
}

.section-founder {
    margin-top: 5.3rem;
    padding-top: 3rem;
}

.founder-photo {
    position: absolute;
    left: 0;
    width: 43.8%;
    top: 0;
    height: 100%;
    object-fit: cover;
}

.founder-content {
    flex-basis: 50%;
}

.founder-content-wrapper {
    display: flex;
    justify-content: flex-end;
}

.founder-text {
    font-weight: normal;
    font-size: 1rem;
    line-height: 160%;
    color: #828a99;
}

.section-clients {
    margin-top: 5.4rem;
}

.clients-wrapper {
    display: flex;
    gap: 3.125rem;
    justify-content: space-between;
}

.clients-content {
    flex-basis: calc(50% - 20px);
}

.clients-list,
.section-list {
    list-style-type: none;
    padding: 0;
    columns: 2 10rem;
    margin-top: 2.4rem;
}

.clients-list-item,
.section-list-item {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: #292d33;
    margin-bottom: 1.2rem;
}

.clients-logo-list {
    flex-shrink: 10;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.9rem;
    flex-basis: 50%;
}

.clinets-logo-item {
    flex-basis: 33.33%;
    min-height: 10rem;
    border: 1px solid #ebebf0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: -webkit-filter 0.2s;
    transition: filter 0.2s;
    transition: filter 0.2s, -webkit-filter 0.2s;
}

.clients-logo {
    max-width: 100%;
    width: 70px;
    height: 70px;
}

.clinets-logo-item:hover {
    filter: grayscale(0%);
}

.blog-card {
    display: flex;
    position: relative;
    min-height: 25rem;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
    justify-content: flex-end;
    padding: 3.125rem;
}

.blog-card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(41, 45, 51, 0.6);
    z-index: -1;
}

.blog-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -2;
}

.blog-card-title {
    font-style: normal;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 160%;
    margin-bottom: 0.625rem;
    margin-top: 0;
}

.blog-card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin: 0;
}

.blog-slider-footer {
    display: flex;
    align-items: center;
    margin-top: 1.875rem;
    justify-content: space-between;
}

.blog-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    gap: 30px;
}

.blog-posts .blog-posts-item {
    flex-basis: calc(50% - 15px);
    /* Ширина блока, вычитая отступы */
}

.pagination {
    display: flex;
    justify-content: end;
    list-style-type: none;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
}

.pagination li {
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.2s;
}

.pagination li:hover {
    border-color: #5C8EE5;
}

.pagination li.current {
    border-color: #5C8EE5;
    color: #5c8ee5;
}

.pagination li a {
    text-decoration: none;
    color: #292D33;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.bg-grey {
    background: #f0f2f5;
}

.cta {
    margin-top: 150px;
}

.section-cta {
    position: relative;
    padding-top: 3.25rem;
    margin-top: 9.375rem;
    padding-bottom: 6.25rem;
}

.cta-image {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 45rem;
    width: 50%;
}

.cta-from-wrapper {
    display: flex;
    justify-content: flex-end;
}

.cta-form {
    width: 52.5rem;
    z-index: 1;
}

.cta-form-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #828a99;
    margin-top: 22px;
    margin-bottom: 40px;
    max-width: 640px;
}

.input-group-wrapper {
    display: flex;
    gap: 1.875rem;
}

.input-group-vertical {
    display: flex;
    flex-direction: column;
}

.input-group {
    position: relative;
    height: 66px;
    flex-grow: 1;
    background-color: #f0f2f5;
}

.input {
    width: 100%;
    height: 100%;
    padding: 1.25rem 1.875rem;
    border: 1px solid #e4e4eb;
    background-color: inherit;
}

.input-group-label {
    position: absolute;
    cursor: text;
    top: 1.5rem;
    left: 1.35rem;
    font-weight: 400;
    font-size: 1rem;
    padding: 0 0.625rem;
    color: #828a99;
    transition: top 0.2s, left 0.2s, font-size 0.2s;
}

.input:focus {
    border: 1px solid #5c8ee6;
    outline: 0;
}

.input:focus~.input-group-label,
.input:not(:placeholder-shown).input:not(:focus)~.input-group-label {
    top: -0.5rem;
    left: 1.25rem;
    font-size: 10px;
    background-color: inherit;
    padding: 0 0.625rem;
}

.input.is-invalid {
    border: 1px solid red;
}

.just-validate-error-label {
    position: absolute;
    top: 0;
    right: 10px;
    background-color: inherit;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transform: translateY(-50%);
    font-size: 0.8rem;
    display: inline-block;
}

.cta-form-footer {
    gap: 1.875rem;
    display: flex;
    align-items: center;
    margin-top: 1.25rem;
}

.cta-form-button {
    flex-shrink: 0;
}

.notify {
    display: flex;
    align-items: flex-start;
    gap: 0.625rem;
}

.notify-icon {
    flex-shrink: 0;
}

.notify-text {
    max-width: 23.75rem;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 160%;
    color: #828a99;
    margin: 0;
}




.footer-top {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    display: flex;
    align-items: center;
}

.footer-logo-wrapper,
.footer-phone,
.footer-info {
    flex-basis: 25%;
}

.footer-logo {
    width: 12.5rem;
    height: 3.75rem;
    min-width: 160px;
    min-height: 50px;
}

.footer-info {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    color: #292d33;
    gap: 10px;
}

.footer-info-address,
.footer-info-email {
    font-style: inherit;
    text-decoration: inherit;
    color: inherit;
}

.footer-phone {
    font-weight: 600;
    font-size: 2rem;
    line-height: 160%;
    text-decoration-line: underline;
    color: #292d33;
    padding-left: 1.25rem;
}

.footer-info:nth-child(even) {
    flex-basis: auto;
}

.footer-social {
    margin-right: 0;
    margin-left: auto;
}

.footer-social-link {
    text-decoration: none;
}

.footer-separator {
    color: #ebebf0;
    background-color: #ebebf0;
    margin: 0;
}

.footer-bottom {
    display: flex;
    padding: 3.125rem 0;
}

.footer-menu-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 160%;
}

.footer-menu-list {
    margin: 0;
    padding-left: 1.25rem;
    list-style-type: none;
}


.footer-menu-column-2 {
    columns: 2 auto;
}

.footer-menu-link {
    text-decoration: none;
    color: #828a99;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    margin-bottom: 0.9375rem;
    display: block;
}

.footer-menu-link-bold {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    color: #292d33;
    line-height: 160%;
    margin-bottom: 1.875rem;
}

.footer-menu-wrapper {
    flex-basis: 25%;
}

.footer-menu-wrapper:first-child {
    flex-basis: 50%;
}

.footer-wrapper {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-style: normal;
    color: #828a99;
    display: flex;
    align-items: center;
    column-gap: 1.25rem;
    row-gap: 10px;
}

.footer-copyright,
.footer-policy {
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: inherit;
    flex-basis: 25%;
    margin: 0;
}

.footer-author {
    margin-right: 0;
    margin-left: auto;
}



.modal {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 45, 51, 0.5);
    z-index: 10;
    display: flex;
}

.modal.is-open {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}

.modal.is-open .modal-dialog {
    transform: translateY(0);
    opacity: 1;
}

.modal-dialog {
    background-color: #fff;
    margin: auto;
    max-width: 460px;
    padding: 40px 50px;
    position: relative;
    transform: translateY(-10%);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
}

.modal-close {
    display: block;
    position: absolute;
    top: 40px;
    right: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ebebf0;
}

.modal-title {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 120%;
    color: #292d33;
    margin-top: 0;
    margin-bottom: 20px;
}

.modal-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: #828a99;
    margin-bottom: 30px;
}

.modal-input-group {
    background-color: #fff;
}

.modal-form-footer {
    margin-top: 30px;
}

.modal-form-button {
    display: block;
    width: 100%;
    margin-bottom: 24px;
}

.our-production-wrapper {
    display: grid;
    grid-template-columns: 50% 7.5rem 1fr;
    grid-template-rows: 3.125rem auto 1fr;
    grid-template-areas:
        '. . image'
        'title . image'
        'content . image';
}

.our-production-title {
    grid-area: title;
}

.our-production-content {
    grid-area: content;
}

.our-production-image {
    grid-area: image;
    align-self: center;
}

.flexgrid .section-title {
    margin-bottom: 1.25rem;
}

.research .section-title {
    max-width: 37.5rem;
}

.research .text {
    columns: 2 auto;
    column-gap: 6.25rem;
}

@media (max-width: 1700px) {
    html {
        font-size: 14px;
    }

    .header-image {
        background-position: center;
    }
}

@media (max-width: 1460px) {
    html {
        font-size: 13px;
    }

    body {
        font-size: 14px;
    }

    .navbar-logo {
        padding: 0 2rem;
    }

    .navbar-nav {
        gap: 2rem;
        padding: 0 2rem;
    }

    .navbar-phone {
        margin-right: 2rem;
    }
}

@media (max-width: 1280px) {
    .cta-image {
        display: none;
    }

    .cta-form {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 70rem;
    }

    .navbar-phone {
        display: none;
    }

    .navbar {
        height: 5.8rem;
    }

    .navbar-button {
        padding: 1.5625rem 2rem;
    }

    .primary-buttons-wrapper {
        height: 40px;
    }

    .primary-button-prev,
    .primary-button-next {
        width: 60px;
    }

    .slider-buttons,
    .steps-buttons {
        display: flex;
    }

    .card {
        flex-basis: 50%;
    }

    .trademark-cards {
        flex-direction: column;
    }


    .footer-top {
        flex-wrap: wrap;
    }

    .footer-logo-wrapper,
    .footer-phone {
        flex-basis: 50%;
    }

    .footer-info:nth-child(odd) {
        flex-basis: 50%;
    }

    .footer-bottom {
        flex-wrap: wrap;
        row-gap: 30px;
        padding: 1.25rem 0 0;
    }

    .footer-menu-wrapper {
        flex-basis: 50%;
    }

    .footer-menu-wrapper:first-child {
        flex-basis: 100%;
    }

    .footer-copyright {
        flex-basis: 50%;
    }

    .our-production-wrapper {
        grid-template-columns: 50% 7.5rem 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            'title . image'
            'content . image';
    }
}

@media (max-width: 992px) {
    html {
        font-size: 12px;
    }

    body {
        font-size: 14px;
        color: #828A99;
    }

    .container {
        max-width: 60rem;
    }

    .navbar-logo {
        flex-grow: 1;
        justify-content: center;
    }

    .logo-svg {
        width: 10rem;
        height: 100%;
    }

    .navbar-nav {
        display: none;
    }


    .mobile-menu-toggle {
        width: 80px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2.3rem 2.5rem;
        border-right: 1px solid rgba(235, 235, 240, 0.20);
    }

    .close-menu .mobile-menu-line:nth-child(2) {
        display: none;
    }

    .close-menu .mobile-menu-line:first-child {
        transform: rotate(45deg) translateY(9px);
    }

    .close-menu .mobile-menu-line:last-child {
        transform: rotate(-45deg) translateY(-9px);
    }

    .navbar-light .mobile-menu-line {
        background-color: #333;
    }

    .mobile-menu-line {
        height: 1px;
        width: 100%;
        background-color: #fff;
        transition: transform 0.2s;
    }

    .mobile-menu-line:nth-child(2) {
        width: 80%;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        overflow-y: auto;
        z-index: 2;
        background-color: #fff;
        padding-top: 5rem;
        padding-left: 15px;
        padding-right: 15px;
    }

    .mobile-menu.is-open {
        display: block;
    }

    .mobile-menu-nav {
        list-style: none;
        padding: 0;
    }

    .mobile-menu-nav-item {
        margin-bottom: 30px;
    }

    .mobile-menu-link {
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 160%;
        color: #292d33;
    }

    .mobile-submenu {
        list-style: none;
        padding-left: 20px;
        margin: 20px 0;
    }

    .mobile-submenu-item {
        margin: 10px 0;
    }

    .mobile-submenu-link {
        text-decoration: none;
        color: #828A99;
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
    }

    .mobile-phone {
        display: block;
        padding-top: 30px;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 20px;
        line-height: 160%;
        color: #292d33;
        border-top: 1px solid #EBEBF0;
    }

    .mobile-info {
        display: flex;
        gap: 10px;
        align-items: center;
        color: #292D33;
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
        margin-bottom: 12px;
    }

    .mobile-info .icon {
        fill: #5C8EE6;
    }

    .mobile-info-address {
        font-style: normal;
    }

    .mobile-info-email {
        text-decoration: none;
        color: #292D33;
    }

    .social-link {
        margin-right: 15px;
        text-decoration: none;
    }



    .navbar-button .icon {
        display: block;
        fill: #fff;
    }

    .navbar-button .button-text {
        display: none;
    }


    .production-cards {
        margin-top: 2.5rem;
    }

    .card-title {
        margin-bottom: 0.835rem;
    }

    .card-content {
        padding-top: 1.667rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .blog-posts .blog-posts-item {
        flex-basis: 100%;
    }

    .clients-wrapper,
    .section-wrapper {
        flex-direction: column;
    }

    .we-experts {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .we-experts-content {
        flex-basis: auto;
    }

    .section-image {
        margin: 0;
    }

    .footer-menu-title,
    .footer-menu-link {
        font-size: 14px;
    }


    .our-production-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'title'
            'image'
            'content';
    }

    .our-production-image {
        justify-self: center;
    }

    .research .text {
        columns: 1;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 40rem;
    }

    .header-title {
        font-size: 4rem;
    }

    .header-content {
        padding-top: 4rem;
    }

    .card {
        flex-basis: 100%;
    }

    .trademark-card {
        grid-template-columns: 100px auto;
        padding: 2.5rem;
    }

    .founder-content {
        flex-basis: 100%;
    }

    .founder-photo {
        position: relative;
        width: 100%;
        margin-bottom: 3.125rem;
    }


    .footer-bottom {
        flex-direction: column;
    }

    .footer-menu-column-2 {
        columns: initial;
    }

    .footer-menu-wrapper:last-child .footer-menu-list {
        padding-left: 0;
    }

    .footer-top,
    .footer-wrapper {
        flex-direction: column;
        align-items: normal;
    }

    .footer-logo-wrapper {
        margin-bottom: 30px;
    }

    .footer-phone {
        margin-bottom: 20px;
    }

    .footer-info {
        margin-bottom: 12px;
    }

    .footer-social {
        margin-top: 20px;
    }

    .footer-author,
    .footer-social {
        margin: 0;
    }

}

@media (max-width: 576px) {
    .container {
        max-width: 90%;
    }

    .section {
        margin: 100px auto;
    }

    .section-title {
        font-size: 3rem;
        margin-bottom: 2.5rem;
    }

    .steps-title {
        margin: 0.8334rem 0;
    }

    .steps-text {
        margin-bottom: 2.167rem;
    }

    .trademark-card {
        grid-template-areas:
            'logo title'
            'text text';
    }

    .section-founder {
        padding-top: 0;
    }

    .clients-list,
    .section-list {
        -moz-columns: 1;
        columns: 1;
    }

    .clinets-logo-item {
        flex-basis: 50%;
    }

    .input-group-wrapper {
        flex-direction: column;
    }

    .cta {
        margin-top: 100px;
    }

    .cta-form-footer {
        flex-direction: column;
        align-items: initial;
    }

    .cta-form-text {
        font-size: 14px;
    }

    .notify-text {
        min-width: 100%;
    }

}